@font-face{
    font-family: Raleway;
    src: url("resources/fonts/releway/Raleway-VariableFont_wght.ttf")
}


body{
    margin: 0px;
}
.welcome{
    height: 400px;
    width: 100%;
    background-image: url("resources/page/welcome.png");
    background-position: center;
    background-repeat: no-repeat;
}
.welcome img{
    height: 200px;
    width: auto;
    margin-top: 50px;
    margin-left: 25px;
}
header{
    height: 70px;
    width: 100%;
    background-color: rgb(204, 205, 198);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway, 'Times New Roman', Times, serif;
    font-size: 2rem;
}
header img{
    margin: 0px 10px;
    height: 80%;
    filter: opacity(0);
}
.fullHeader img{
    filter: opacity(1);
    transition-duration: 1s;
}
header nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav div{
    height: 100%;
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header nav div:hover{
    cursor: pointer;
    box-shadow: inset 0 -2px black;
}
header .basket{
    height: 100%;
    width: auto;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}
header .basket:hover{
    cursor: pointer;
    box-shadow: inset 0 -2px black;
}
header .basket div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.4em;
}
header .basket div img{
    filter: opacity(1);
    height: 1.6em;
    width: auto;
}


.mainPage{
    height: 1000px;
    background-color: white;
}


footer{
    width: 100%;
    padding: 10px 0px;
    background: -moz-linear-gradient(rgb(204, 205, 198),rgb(125, 126, 122));
    background: linear-gradient(rgb(204, 205, 198),rgb(125, 126, 122));
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
}
footer .bottomCard{
    width: 225px;
    height: auto;
    margin: 30px;
    padding: 20px;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: Raleway, 'Times New Roman', Times, serif;
    font-size: 1.25em;
}
footer .bottomCard list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 1em;
}
footer .bottomCard list li img{
    height: 1em;
    width: auto;
}